<% @user ||= current_user %>
<a href="<%= following_users_path(@user) %>">
  <%= @user.profile.followings_count %> following
</a>

<a href="<%= followers_users_path(@user) %>">
  <%= pluralize(@user.profile.followers_count, "follower") %>
</a>
