<ul
<% @posts.each do |post| %>
	<li><%= image_tag post.photos.first.medium_image %> <%= post.message %>
		<p>Taken at: <%= link_to post.location.name, post.location if post.location %></p></li>
		
<% end %>
</ul>